<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  
  <body>


    <header>
        <div class="text-bg-info p-3">
      <h2>Saira Khwaja</h2>
    </div>
    
    </header>

    <div class="card" style="width: 18rem;">
        <img src="https://c8.alamy.com/comp/2G5WX9G/cactus-and-succulents-cute-cartoon-cacti-in-pots-mexican-exotic-home-plant-with-spines-and-flowers-decorative-garden-succulent-vector-set-2G5WX9G.jpg" class="card-img-top" alt="cactus">
        <div class="card-body">
          <h5 class="card-title">Learn More!</h5>
          <p class="card-text">I actually don't have anything to teach</p>
          <a href="#" class="btn btn-primary">Click Here</a>
        </div>
      </div>

    <article> 
        <div class="text-bg-success p-3">
        <h1>Interesting Facts</h1>
        <p>It is physically impossible for pigs to look up at the sky</p>
        <p>Crocodiles can't stick their tongues out</p>
        <p>Almonds are a member of the peach family</p>
    </div>
      </article>

      <button type="button" class="btn btn-info">Click Me!</button>
      <button type="button" class="btn btn-danger">Don't Click Me!</button>