<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  
  <body>


<header>

  <h2>Loading Some More Information...</h2>

</header>

<section>
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading More Information...</span>
      </div>

  <article> 
    <h3>I unfortunately waited till the last minute to complete this assignment</h3>
    <p>I'm hoping it works flawlessly</p>
    <p>Side note, I am looking forward to fall weather!!</p>
  </article>
</section>
<button type="button" class="btn btn-success">Right!</button>
<button type="button" class="btn btn-danger">Wrong!</button>
    
  </body>